<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MineStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MineStudio.Properties.Settings>
            <setting name="CurrentProgrammer" serializeAs="String">
                <value>AVRISP_MKII</value>
            </setting>
            <setting name="AVRISP_MKII" serializeAs="String">
                <value>Stk500</value>
            </setting>
            <setting name="CurrentDevice" serializeAs="String">
                <value>Raptor</value>
            </setting>
            <setting name="Programmers" serializeAs="String">
                <value>AVRISP_MKII</value>
            </setting>
            <setting name="Devices" serializeAs="String">
                <value>RAPTOR,MINIDAL,MS6,SQSPEEDO_V2,SQSPEEDO_V1,LEACH,PHAROS_TX,PHAROS_RX,ULOGGER,XPORTLAN,RTTEMP,</value>
            </setting>
            <setting name="Verify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RAPTOR" serializeAs="String">
                <value>Raptor,ATMega128.hex,RAPTOR_EEP2.hex,RAPTORV5_3P.hex,D0AF,CF,ATMEGA128</value>
            </setting>
            <setting name="MINIDAL" serializeAs="String">
                <value>MinDal,MINIDAL16_V1_5_BOOT.hex,MiniDal16_EEP.hex,,D22D,CF,ATMEGA16</value>
            </setting>
            <setting name="MS6" serializeAs="String">
                <value>MS6,BootLoad.hex,,RTMTEMP_V1_7D.hex,D02D,CF,ATMEGA128</value>
            </setting>
            <setting name="SQSPEEDO_V2" serializeAs="String">
                <value>SQSpeedo,ATMega128.hex,SqSpeedo EEPROM.hex,TACHOVMU_V1_4F.hex,D0AF,CF,ATMEGA128</value>
            </setting>
            <setting name="SQSPEEDO_V1" serializeAs="String">
                <value>SQSpeedo,ATMega128.hex,SqSpeedo EEPROM.hex,TACHOVMU_V1_2V.hex,D02D,CF,ATMEGA128</value>
            </setting>
            <setting name="LEACH" serializeAs="String">
                <value>Leach,ATMega128.hex,,LEACHPRG3_6O.hex,D02F,CF,ATMEGA128</value>
            </setting>
            <setting name="PHAROS_TX" serializeAs="String">
                <value>Pharos\\TX,proj.hex,,,D02D,CF,ATMEGA8</value>
            </setting>
            <setting name="PHAROS_RX" serializeAs="String">
                <value>Pharos\\RX,PROJ_RRQ3.hex,gjs_eeprom.hex,,D12D,CF,ATMEGA8</value>
            </setting>
            <setting name="ULOGGER" serializeAs="String">
                <value>uLoggerUSB,,,ULOGGERUSB.hex,D0AF,CF,ATMEGA32</value>
            </setting>
            <setting name="XPORTLAN" serializeAs="String">
                <value>XPortLAN,,,XPortCom.hex,D0AD,CF,ATMEGA128</value>
            </setting>
            <setting name="RTTEMP" serializeAs="String">
                <value>RT Temp,BootLoad.hex,,RTMTemp_V1_5E,D02D.hex,CF,ATMEGA64</value>
            </setting>
        </MineStudio.Properties.Settings>
    </userSettings>
</configuration>